desktop.ini
ieducar/intranet/tmp/*
ieducar/intranet/arquivos/*
# Vagrant
/.vagrant
Vagrantfile

#yarn
ieducar/assets/node_modules/*

#tmp
ieducar/tmp/**

# Composer
vendor/**
ieducar/lib/vendor/**
ieducar/npm-debug.log
