body {
  background-color: #efefef;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.main {
	flex: 1;
}

.link-footer {
	color: #ff8f00;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: #ee7335;
  box-shadow: 1px 1px 20px -6px #000;
  color: #fff;
}

.logo {
  height: 60px;
}

.logo-img {
  height: 100%;
}

.g-container {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.navmenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.navmenu-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
  font-family: Oswald, sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.navmenu-item:hover {
  background-color: #fff;
  color: #ee7335;
}

.navmenu-item.icon-menu {
  padding: 1.9rem 1rem;
  font-family: Fontawesome, sans-serif;
  font-size: 1.25rem;
}

.g-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.g-block.size-30 {
  width: 30%;
}

.g-block.size-70 {
  position: relative;
  width: 70%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-basis: 70%;
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
}

.g-block.size-100 {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.g-content {
  margin: 0.625rem;
  padding: 0.938rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.g-content.g-content-logo {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.g-content.g-main {
	padding: 0 0.25rem 1rem 0.25rem;
	border-style: solid;
	border-width: 1px 1px 3px;
	border-color: #dfe4ed #dfe4ed #ee7335;
	border-radius: 3px 3px 2px 2px;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
}

.g-content.g-content-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.g-content.g-content-profile {
  margin: 0rem;
  padding: 0rem;
}

.g-content.g-content-menu {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding: 0rem;
  float: right;
  text-align: right;
}

.profile {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 1rem;
  padding-left: 1rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
  cursor: pointer;
}

.profile:hover {
  background-color: #fff;
  color: #ff8f00;
}

.profile-img {
  margin-left: 0.5rem;
  border-radius: 100%;
}

.submenu-profile {
  position: absolute;
  top: 100%;
  right: 0px;
  display: none;
  overflow: hidden;
  height: 0px;
  min-width: 15rem;
  border-bottom: 2px solid #ee7335;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #fff;
  box-shadow: 1px 1px 5px -2px #000;
}

.submenu-list {
  margin-bottom: 0px;
  padding-left: 0px;
  color: #000;
  list-style-type: none;
}

.submenu-item.first-submenu-item {
  width: 100%;
  border-bottom: 1px solid #efefef;
}

.submenu-link {
  width: 100%;
  padding: 0.75rem;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  color: #000;
}

.submenu-link:hover {
	color: #000;
	background-color: #efefef;
}

.icon-submenu {
  padding-right: 0.5rem;
  font-family: Fontawesome, sans-serif;
  font-size: 1.25rem;
}

.submenu-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.login-background {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, .5)), url('../images/login-bg.jpg');
  background-image: linear-gradient(0deg, transparent, rgba(0, 0, 0, .5)), url('../images/login-bg.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  text-align: center;
}

.login-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20rem;
  padding: 1.5rem 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: hsla(0, 0%, 100%, .9);
  box-shadow: 2px 2px 10px -5px #000;
}

.login-button {
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: #ee7335;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.login-button:hover {
  border: 1px solid #ee7335;
  background-color: transparent;
  color: #ee7335;
}

.login-form {
  width: 100%;
  margin-bottom: 0.75rem;
}

.login-logo {
  margin-bottom: 1rem;
}

.login-input {
  margin-bottom: 12px;
  border-radius: 2px;
}

.login-input:focus {
  border: 1px solid #ee7335;
  opacity: 1;
}

.login-link {
  color: #000;
}

.login-link:hover {
  color: #ee7335;
}

.login-incorrect {
  margin-bottom: 1rem;
  color: #3c8eb9;
  font-size: 14px;
  text-align: center;
}

.footer-container {
  border-top: 1px solid #d2d6de;
  background-color: #fff;
  box-shadow: 0 -2px 10px -9px #2f373e;
  color: #000;
  font-size: 12px;
}

.version-text {
  display: inline;
}

.footer-button {
  margin-left: 0.5rem;
  padding: 2px 10px;
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #f4f4f4;
  -webkit-transition: background-color 400ms ease-in-out;
  transition: background-color 400ms ease-in-out;
  color: #000;
  font-size: 11px;
}

.footer-button:hover {
  color: #000;
  background-color: #ddd;
}

.credit-text {
  display: inline;
}

.version-block {
  display: inline-block;
}

.footer-logo-img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: -webkit-filter 400ms ease-in-out;
  transition: -webkit-filter 400ms ease-in-out;
  transition: filter 400ms ease-in-out;
  transition: filter 400ms ease-in-out, -webkit-filter 400ms ease-in-out;
}

.footer-logo-img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
