<script src="/assets/js/datatables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.33/vfs_fonts.js"></script>
<script type="text/javascript">
		(function($) {
			$(document).ready(function() {
				$.noConflict();

				$('[data-toggle="popover"]').popover()

				var table = $('#table_id').DataTable({
					colReorder: true,
					select: true,
					lengthChange: true,
					pageLength: 25,
					dom: "lf<'floatright'B>rtip",
					select: true,
					buttons: [
						"excel",
						{
							extend: "print",
							exportOptions: {
								columns: ":visible",
								modifier: { search: "applied" }
							}
						},
						{
							extend: "pdfHtml5",
							orientation: "landscape",
							pageSize: "LEGAL",
							download: "open",
							exportOptions: {
								columns: ":visible",
								modifier: { search: "applied" }
							}
						},
						"colvis"
					],
					language: {
						url: '/assets/language/datatable.pt_BR.json'
					}
				});
			}); // ready
		})(jQuery);
</script>

<!-- begin formulario -->
<form name='{{ busca.formulario }}' id='{{ busca.formulario }}' method='{{ busca.method }}' action="">
	{{ busca.input|raw }}

	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="card-header">{{ localizacao|raw }}</div>
		{% if busca.campos is not empty %}
			<table class="table table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>{{ busca.titulo|raw }}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						{{ busca.campos|raw }}
					</tr>
					<tr>
						<td colspan="2" align="center">
							{{ busca.botao|raw }}
						</td>
					</tr>
				</tbody>
			</table>
		{% endif %}
	</div>
</form>

<table id="table_id" class="table table-striped table-bordered" cellspacing="0" width="100%">
	<thead>
		<tr>
			{% for coluna in cabecalho %}
				<th>{{ coluna }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tfoot>
		<tr>
			{% for coluna in cabecalho %}
				<th>{{ coluna }}</th>
			{% endfor %}
		</tr>
	</tfoot>
	<tbody>
		{% for linha in linhas %}
			<tr>
				{% for coluna in linha %}
					<th>{{ coluna|raw }}</th>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>
